

.title{
    text-align: center;
}

.main{ 
    margin-top: 15vh;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px #000;
    width: 600px;
}

.addTask{
    display: flex;
    gap: 10px;
}

.editTaskContainer{
    display: flex;
    gap: 10px;
}

.addToDo{
 min-width: 40px;
}

#titleCompletedTasks{
text-align: center;

}

.divTask{
    width: 400px;
    margin-top: 20px;
    font-size: 20px;
    display: flex;
}

.MoveToTheEnd{
   margin-left: auto;
   display: inline-flex;
   flex-wrap: wrap;
   gap: 10px;
}


::placeholder{
    color: red;
    opacity: 0.7;
}